* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #222;
}

ul {
  position: relative;
  display: flex;
  transform-style: preserve-3d;
  transform: rotate(-25deg) skew(25deg);
}

ul li {
  position: relative;
  list-style: none;
  width: 60px;
  height: 60px;
  margin: 0 10px;
}

ul li span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex !important;
  justify-content: center;
  align-items: center;
  background: #333;
  color: rgba(255, 255, 255, 0.2);
  font-size: 30px !important;
  transition: 0.2s;
  z-index: 0;
}

ul li span:nth-child(1) { --n: 1; }
ul li span:nth-child(2) { --n: 2; }
ul li span:nth-child(3) { --n: 3; }
ul li span:nth-child(4) { --n: 4; }
ul li span:nth-child(5) { --n: 5; }

ul li:nth-child(1):hover { --bg: #3b5999; }
ul li:nth-child(2):hover { --bg: #e4405f; }
ul li:nth-child(3):hover { --bg: #0077b5; }
ul li:nth-child(4):hover { --bg: #25d366; }
ul li:nth-child(5):hover { --bg: #55acee; }

ul li:hover span {
  transform: translate(calc((var(--n) - 1) * 10px), calc((1 - var(--n)) * 10px));
  opacity: calc(var(--n) * 0.2);
  background: var(--bg);
}

ul li::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 10px;
  background: #2a2a2a;
  transform-origin: top;
  transform: skew(-41deg);
}

ul li::after {
  content: "";
  position: absolute;
  top: 0;
  left: -9px;
  width: 9px;
  height: 100%;
  background: #2a2a2a;
  transform-origin: right;
  transform: skewY(-49deg);
}

ul li:hover span {
  z-index: 3;
  transition: 0.5s;
  color: #fff;
  box-shadow: -1px 1px 1px rgb(0, 0, 0, 0.05);
}
